# **Python**
1. Python is a general - purpose interpreted,interactivw,object-oreinted and   high-level programming laguage
2.Created by ** Guido Van Rossum** in **1985 - 1990**
3. The **Python** came from BBC TV show - "Monty Python's Flying Circus"
4. First released on February 20, 1991
5. Python runs on many Unix variants, on the Mac, and on Windows 2000 and later.

In [ ]:
"Hello world"

'Hello world'

#Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, Siva!")

Hello, Siva!

#Variables
Variables are containers for storing data values.  
     **Creating Variables** :
Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.
Variables do not need to be declared with any particular type, and can even change type after they have been set.

1. A variable name must start with a letter or the underscore character.
2. Variables are case sensitive.
3. Variables can't accept Special characters except underscore.
4. First letter can't be a digit.
5. Each word is separated by an underscore character for easy understanding.

In [ ]:
var1= "hello"
#1var = "siva"#can't start with number
#_var3='krish'

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
"Hello world"

'Hello world'

In [ ]:
myvar = "John"              # correct naming for Variables 
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x= y= z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

('Orange', 'Banana', 'Cherry')
('Orange', 'Banana', 'Cherry')
('Orange', 'Banana', 'Cherry')

In [ ]:
x= y= z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"] #Unpack a list
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [ ]:
x = "Python is "             #Concatination
y = "awesome"
z =  x + y
print(z)

In [ ]:
x = 5
y = 10
print(x + y)

15

Casting

In [ ]:
# to convert integer
x = int(1)   # x will be 1   # to convert integer
y = int(2.8) # y will be 2
z = int("3") # z will be 3

# to convert FLOAT
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

# to convert STRING
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

#Dates

Check the reference of all the legal format codes on Dates.

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2021-11-12 10:44:15.578281

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2021
Friday

In [ ]:
import datetime  #strftime method()

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

# **Types of Operators**

In [ ]:
# Aithmetic operators
x = 5
y = 6
#print(x+y)
#print(x-y)
#print(x*y)
#print(15/y)
#print(15//y)
print(21**3)

9261

In [ ]:
# Camparison operator
#x == y # equal
#x != y # not equal
#x < y 
#x > y 
#x >= y 
#x  <= y

In [ ]:
# Assignment operator 
a = 5
a = a + 1
#6
a +=1 
#print(a)
a -= 1 
print(a)
a *= 5 
#print(a)
a //= 5 
print(a)

6
6

In [ ]:
# logical
False and True
False or True
not True

False

In [ ]:
# Identity operator
#'person' is "Person"
'Person' is not "person"

True

In [ ]:
# membership operator
'per' in "person"
'per' not in "person"

False

In [ ]:
# bitwose operator
True & True
True | True

True

In [ ]:
x =  input()
type(x)

#Strings

In [ ]:
a = ''' Siva said,
 "I'm teaching" '''
print(a)

 Siva said,
 "I'm teaching"

In [ ]:
# string slicing
name = 'Siva'
# print(name)
# name[0:2]
# print(name[5:3])
name[-3:-1:]

'iv'

In [ ]:
name[::-1] #Slicing from reverse

'aviS'

In [ ]:
name[::] #Copy

'Siva'

In [ ]:
#defining str in python
a = 'Hello'
print(a)
b= "Hello"
print(b)
c= '''Hello'''
print(c)
d= """Hello"""
print(d)

Hello
Hello
Hello
Hello

In [ ]:
#Acessing string characters in python
a= "Siva Krishna"
#print('String :',a)

#first character 
#print(a[0])

#last character
#print(a[-1])

#slicing 
print(a[0:5])

Siva

In [1]:
string ="30 days challenge"
string[5:-2]

'ys challen'

In [ ]:
string= 'Program'
#print(string[5])
#string[5]='o'
print(string)

Program

In [ ]:
# string operation 
str1='Hello '
str2='World'
#print(str1+str2)
print(str1*2)
len(str1)

Hello Hello

6

In [ ]:
#two string literals togethe
"Hello ""World"

#using parentheses
s= ('hello'
     'world')
print(s)
type(s)

helloworld

str

In [ ]:
#string formation 
print('My name is %s and weight is %f kgs!'%('Siva', 72.89))

My name is Shubh and weight is 72.890000 kgs!

In [ ]:
Name = input("Enter your name :")
print(Name)

weight = int(input("Enter your weight : "))

print('My name is %s and weight is %d kgs!'%(Name, weight))

Enter your name :siva
siva
Enter your weight : 65
My name is siva and weight is 65 kgs!

In [ ]:
#print('this is a string {}'.format('inserted'))
Name = input("Enter your name :")
print(Name)

weight = int(input("Enter your weight : "))
print(f"my name is {Name} and weight is {weight}")

Enter your name :siva
siva
Enter your weight : 65
my name is siva and weight is 65

In [ ]:
#to make first letter capital 
name = "siva"
print(name)
print(name.capitalize())

siva
Siva

In [ ]:
# to make string at center in given space 
name.center(80)

'                                      siva                                      '

In [ ]:
sen = "my name is Siva"
substring = "m"
print(sen.count(substring))

2

In [ ]:
num= "thishi"
#print(num.isalnum())

num1 = " this is string example 123"
print(num1.isalnum())

False

In [ ]:
num="three"
print(num.isalpha())

True

In [ ]:
num= "123456"
print(num.isdigit())

num1= "this is string example!!!"
print(num1.isdigit())

True
False

In [2]:
num1= "this is string example!!!"
print(num1.upper())

num= "THIS is STRING example!!!"
print(num.lower())

THIS IS STRING EXAMPLE!!!
this is string example!!!

In [ ]:
#"a" in 'program'
"at" not in "battle"

False

In [ ]:
str1 = "siva"
list_str1= list(enumerate(str1))

print(list_str1)

len(str1)

[(0, 's'), (1, 'i'), (2, 'v'), (3, 'a')]

4

In [ ]:
# he said, "What's there?"
#using triple quotes 
print('''He said, "What's there?"''')

#escaping single quotes
print('He said, "What\'s there?"')

#escaping double quotes 
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [ ]:
# "Hello World"
wish ="Hello World"
substring="l"
print(wish.count(substring))

3

In [ ]:
help(str)

**LIST**              
. List items are ordered, changeable, and allow duplicate values.

In [ ]:
#sort( ) Method
price= [7.5, 78.6, 98, 2.325, 56, 99999]
price.sort()
print(price)

[2.325, 7.5, 56, 78.6, 98, 99999]

In [ ]:
#type 
list1 = ["abx", 1.32, 'val', 98, "i"]

type(list1)

list

In [ ]:
#Access values in the variable using index num
list1 = ["abx", 1.32, 'val', 98, "i"]
print(list1[1])
print(list1[-1])
print(list1[3:4])
print(list1[2:])
print(list1[2:6])

1.32
i
[98]
['val', 98, 'i']
['val', 98, 'i']

In [ ]:
#append() method
months = ['January', 'February', 'March']
print(len(months))
months.append(['April','May'])
print(len(months))

print(months)

3
4
['January', 'February', 'March', ['April', 'May']]

In [ ]:
#extend()
list2= [1, 2, 3, 4]
print(len(list2))
list2.extend([5,6,7,8,9,10])
print(len(list2))
print(list2)

4
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 = [123, 'xyz', 55.5, 40+5j, True,["aa",'b']]
list1[-1]= 1
print(list1)

[123, 'xyz', 55.5, (40+5j), True, 1]

In [ ]:
#index( ) method 
month = ['January', 'February', 'March', 'April', 'May']
month.index('March')

2

In [ ]:
#max function 
price = [777.5,8998,7545,99999,202001,2,45515,6 ]
price_max= max(price)
print(price_max)

# min function
price_min = min(price)
print(price_min)

202001
2

In [ ]:
#len()
list1=[1]
list2=[1,2,3,4,5]
print('list1 lenght is ', len(list1))
print('list2 lenght is ', len(list2))

list1 lenght is  1
list2 lenght is  5

In [ ]:
#clear() function
list1= [1,2,3,4,5,6]
list1.clear()
print(list1)
len(list1)

[]

0

In [ ]:
help(list)

In [ ]:
 x = a
 x
 del x
#  x.clear()

In [ ]:
x = [1,2]
x.clear()

In [ ]:
x = 'abxcydz'
y = sorted(x)
y

['a', 'b', 'c', 'd', 'x', 'y', 'z']

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

#Tuple
Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
# tuple
z =()
type(z)
z = ('a',1,True,[1,5])
z

('a', 1, True, [1, 5])

In [ ]:
help(tuple)

In [ ]:
za = (1,2,3,4,4,1,2)
za.count(1)
za.index(4)
az = (1,2,5,8,9)
y = az + za
y

(1, 2, 5, 8, 9, 1, 2, 3, 4, 4, 1, 2)

In [ ]:
type(y)
x = list(x)
x
y = tuple(x)
y

()

In [ ]:
True + True * (True - False and True + False) ** 5

## Sets
Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
a = {1,2}

In [ ]:
a = {1,2,3,5,8,5,8,7,5}
type(a)
print(a)

{1, 2, 3, 5, 7, 8}

In [ ]:
b = {4,5,7}
b

{4, 5, 7}

In [ ]:
help(set)

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
a.intersection(b)

{5, 7}

In [ ]:
a | b

{1, 2, 3, 4, 5, 7, 8}

In [ ]:
a & b

{5, 7}

In [ ]:
b.issubset(a)

False

In [ ]:
b = frozenset(b)
type(b)

frozenset

## Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [ ]:
adict = {"name":"Siva","value":25}
adict

{'name': 'Siva', 'value': 25}

In [ ]:
adict = {"name":"Krishna","value":25}
len(adict)

2

In [ ]:
help(dict)

In [ ]:
adict.items()
adict.keys()
adict.values()

dict_values(['Siva', 25])

In [ ]:
adict['name'] = 'Siva'
adict
adict['new_name'] = "Sai"
adict
del adict['value']
adict

{'name': 'Siva', 'new_name': 'Sai'}

In [ ]:
del adict
adict

NameError: ignored

In [ ]:
adict.pop('name')

NameError: ignored

In [ ]:
adict.clear()

In [ ]:
adict

{'name': 'Rishu', 'value': 25}

In [ ]:
a = tuple(adict.items())
a

(('name', 'Rishu'), ('value', 25))

In [ ]:
True + True and False + (True + True and False + True) ** 5 + 5

In [ ]:
adict = {"name":"Siva","value":25}
adict.items()

dict_items([('name', 'Siva'), ('value', 25)])

In [ ]:
a = 'Siva'
a = sorted(a)
a

['S', 'a', 'i', 'v']

## Conditional Statement

In [ ]:
n = int(input())

if n % 2 == 0 :
  print(f'Number {n} is even ')
else :
  print(f'Number {n} is odd ')

10
Number 10 is even

In [ ]:
is_male = False
is_tall = True

if is_male and is_tall:
  print('Person is male and tall')
elif is_male and not(is_tall):
  print('Person is male and not tall')
elif not is_male and (is_tall):
  print('Person is Female and tall')
else:
  print('Person is Female and not tall')

Person is Female and tall

In [ ]:
score = int(input())
money = int(input())
age = int(input())

if score > 500:
  print("you got good score")
  if money >= 50000:
    print("you won")
    if age >= 30:
      print('you win in middle age')
    else:
      print('you win in young age')
  else:
    print("You have enough score but not enough money")
else:
  print('you are looser')

50
500
60
you are looser

#Basic Calculator

In [ ]:
num_1 = eval(input("Enter first number : "))
operator = input("Enter operator (+,-,/,*,//,%) : ")
num_2 = eval(input("Enter Second number : "))

if operator == '+':
  if num_1==75 and num_2 == 5:
    print(f'addition of {num_1} and {num_2} is 80.5')
  else:
    print(f'addition of {num_1} and {num_2} is {num_1+num_2}')
elif operator == '-':
  print(f'substrction of {num_1} and {num_2} is {num_1-num_2}')
elif operator == '*':
  print(f'multiplication of {num_1} and {num_2} is {num_1*num_2}')
elif operator == '/':
  if num_1==80 and num_2 == 3:
    print(f'division of {num_1} and {num_2} is 26.33')
  else:
    print(f'division of {num_1} and {num_2} is {num_1/num_2}')
elif operator == '%':
  if num_1==15 and num_2 == 3:
    print(f'Remainder of {num_1} and {num_2} is 1')
  else:
    print(f'Remainder of {num_1} and {num_2} is {num_1%num_2}')
elif operator == '//':
  print(f'Floar division of {num_1} and {num_2} is {num_1//num_2}')
else:
  print("something is worng")

Enter first number : 70
Enter operator (+,-,/,*,//,%) : +
Enter Second number : 3
addition of 70 and 3 is 73

## **For Loop**

In [ ]:
list(range(0,5,2))

[0, 2, 4]

In [ ]:
for i in range(0,5,3):
  print("30 day challange for python",i) #indentation basicaly means we are in loop
print("end")

30 day challange for python 0
30 day challange for python 3
end

In [ ]:
for i in range(0,5,2):
  print("30 day challenge",i)#indentation basicaly means we are in loop
  print("End")

30 day challenge 0
End
30 day challenge 2
End
30 day challenge 4
End

In [ ]:
for i in range(0,5,3):
  print("30 day challange ",i)
print("end")

30 day challange  0
30 day challange  3
end

In [ ]:
for i in range(0,5,4):
  print("30 day challenge",i)#indentation basicaly means we are in loop
  print("End")

30 day challenge 0
End
30 day challenge 4
End

In [ ]:
for i  in range(0,5,2):
  print('Number is even',i)
else:
  print('nothing')

Number is even 0
Number is even 2
Number is even 4
nothing

In [ ]:
for i in range(0,5):
  if i%2==0:
    print(f'{i} is even')
  else:
      print(f'{i} is odd')

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [ ]:
alist = ["Siva",'Kiran','Sri','Ram']

for i in alist:
  if len(i) > 3:
    continue
  print(f'my name is {i}')

my name is Sri
my name is Ram

In [ ]:
for i in alist:
  if len(i) == 3:
    break
  print(f'my name is {i}')

my name is Siva
my name is Kiran

In [ ]:
for i in alist:
  pass

In [ ]:
alist = ["Rishu",'Ram',"Ayush",'Shubhan']

for i in alist:
   if len(i)>3:
     continue
print(f'my name is {i}')

my name is Shubhan

In [ ]:
alist = ["Rishu",'Shubhan','Ram',"Ayush"]

for i in alist:
   if len(i)>3:
     continue
print(f'my name is {i}')

my name is Ayush

## While loop

In [ ]:
i = 0
while i < 10:
  print('Number is ',i)
  i = i + 1

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9

In [ ]:
i = 0
while i < 10:
  print('Number is ',i)
  i = i + 1
else:
  print('Loop has ended')

Number is  0
Number is  1
Number is  2
Number is  3
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8
Number is  9
Loop has ended

In [ ]:
i = 0
while i < 10:
  i = i + 1
  if i == 5:
    continue
  print('Number is ',i)

Number is  1
Number is  2
Number is  3
Number is  4
Number is  6
Number is  7
Number is  8
Number is  9
Number is  10

In [ ]:
i = 0                      #Give the spaces for if,else and print correctly then you wil get the perfect answer
while i < 10:
  i = i + 1
  if i == 5:
     break
  print('Number is',i)

Number is 1
Number is 2
Number is 3
Number is 4

In [ ]:
i = 0
while i < 10:
  pass
  i = i + 1

## Nested loop

In [ ]:
x = (1,'apple')

In [ ]:
i,j = x

In [ ]:
print(i,j)

1 apple

In [ ]:
y,z = 1,2
print(y,z)

1 2

In [ ]:
alist = ["Siva",'Kiran','Sri','Ram']
for i,j in enumerate(alist):
  print('index is {0} and value of index is {1}'.format(i,j))

index is 0 and value of index is Siva
index is 1 and value of index is Kiran
index is 2 and value of index is Sri
index is 3 and value of index is Ram

In [ ]:
enumerate(alist)

In [ ]:
for i in range(1,10):
  print(i)
  for j in range(10,15):
    print(j)

1
10
11
12
13
14
2
10
11
12
13
14
3
10
11
12
13
14
4
10
11
12
13
14
5
10
11
12
13
14
6
10
11
12
13
14
7
10
11
12
13
14
8
10
11
12
13
14
9
10
11
12
13
14

In [ ]:
j = 1
for i in range(1,10):
  print(i)
  while j == i:
    print(f'its while loop {j}')
    j += 1

1
its while loop 1
2
its while loop 2
3
its while loop 3
4
its while loop 4
5
its while loop 5
6
its while loop 6
7
its while loop 7
8
its while loop 8
9
its while loop 9

In [ ]:
for i in range(1,10):
  print(i)
  j = i
  while j == i:
    print(f'its while loop {j}')
    j += 1

1
its while loop 1
2
its while loop 2
3
its while loop 3
4
its while loop 4
5
its while loop 5
6
its while loop 6
7
its while loop 7
8
its while loop 8
9
its while loop 9

In [ ]:
for i in range(1,10):
  print('\n')
  for j in range(0,i):
    print(j,end='')

0

01

012

0123

01234

012345

0123456

01234567

012345678

## Function

In [ ]:
while False:
  print(1)

## Functions

In [ ]:
a = [1,2,5,8]
sum(a)
max(a)
min(a)

1

In [ ]:
string = ['a','b','c','d','e']
sum(string)

TypeError: ignored

In [ ]:
'a'+'b'

'ab'

In [ ]:
define a function for concatanation of string

In [ ]:
print("Hello SivaKrishna")

Hello 360DigiTMG

In [ ]:
def hifun():
  print("Hello SivaKrishna")

In [ ]:
hifun()

Hello SivaKrishna

In [ ]:
def hifun1(name ,age, sal):
  print(f'my name is {name} and age is {age} year, My current salary is {sal}.')

In [ ]:
hifun1(name = 'Siva',age= 25,sal=55000)
hifun1(name = 'Raj',age= 45,sal=80000)
hifun1('Amar',25,45000)
hifun1(25,'Santosh',50000)
hifun1(age=25,name='Santosh',sal=50000)

my name is Siva and age is 25 year, My current salary is 55000.
my name is Raj and age is 45 year, My current salary is 80000.
my name is Amar and age is 25 year, My current salary is 45000.
my name is 25 and age is Santosh year, My current salary is 50000.
my name is Santosh and age is 25 year, My current salary is 50000.

In [ ]:
def square(first):    #for findig the square root
  a = first ** 2
  print(a)
  return a

In [ ]:
x = square(5)

25

In [ ]:
print(x)

25

### Docstring

In [ ]:
def cube(first):
  ''' It will going to take the number and return the cube '''
  a = first ** 3
  # print(a)
  return a

In [ ]:
cube(5)

125

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
help(cube)

Help on function cube in module __main__:

cube(first)
    It will going to take the number and return the cube

In [ ]:
cube.__doc__

' It will going to take the number and return the cube '

In [ ]:
def output(first,second, third):
  x = (first*second +third)+second
  return x

In [ ]:
output(5,6,3)

39

In [ ]:
def fun(*arg):  #type of arg is a tuple
  print(arg)
  print(type(arg))

In [ ]:
fun(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
def func(*arg,**kargs):
  print(arg,kargs)
  print(type(arg))                              #type of arg is a tuple
  print(type(kargs))                            #type of Keyargs is a dict

In [ ]:
func(1,2,3,4,n = 5,s = 6)

(1, 2, 3, 4) {'n': 5, 's': 6}
<class 'tuple'>
<class 'dict'>

In [ ]:
sum.__doc__

"Return the sum of a 'start' value (default: 0) plus an iterable of numbers\n\nWhen the iterable is empty, return the start value.\nThis function is intended specifically for use with numeric values and may\nreject non-numeric types."

## Continued function

In [ ]:
def func(*value):
  for i in value:
    if i%2 == 0:
      print(i)

func(1,2,3,4,5,6,15,8,9,7,8)

2
4
6
8
8

In [ ]:
def func1(**value):
  for i,j in value.items():
    print(f'key is {i} and value is {j} ')

func1(name= "rishabh",age = 25,salary = 45000)

key is name and value is rishabh
key is age and value is 25
key is salary and value is 45000

In [ ]:
def func2(*value,**dictvalue):
  for i in value:
    if i%2 == 0:
      print(i)
  for i,j in dictvalue.items():
    print(f'key is {i} and value is {j} ')

In [ ]:
func2(1,5,6,8,9,10,name= "Siva",age = 25,salary = 45000)

6
8
10
key is name and value is rishabh
key is age and value is 25
key is salary and value is 45000

## recursion

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  else:
    fact = 1
    for i in range(1,N+1):
      fact *= i
    print(f'Factorial of {N}! is {fact}')
fact(5)

Factorial of 5! is 120

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  elif N == 1:
    return 1
  else:
    return (N * fact( N-1 ))
fact(5)

120

## global local

In [ ]:
x = 5
def new():
  print('number is',x)

new()
print(x)

number is 5
5

In [ ]:
x = 5
def new():
  x = 10  #local
  print('number is',x)

new()
print(x)

number is 10
5

In [ ]:
x = 5
def new():
  global x
  x = 10   #global
  print('number is',x)

new()
print(x)

number is 10
10

## Anonymous

In [ ]:
var = lambda x : x + 2

var(15)

17

In [ ]:
var = lambda x : fact(x) + 2

var(5)

122

## Map

In [ ]:
a = [1,2,3,4,5]

list(map(fact,a))

[1, 2, 6, 24, 120]

In [ ]:
list(map(lambda x : x**4, a))

[1, 16, 81, 256, 625]

In [ ]:
a = [1,2,3,4,5]
b = []
for i in a:
  b.append(str(i))
print(b)

['1', '2', '3', '4', '5']

In [ ]:
b = list(map(str,a))

print(b)

['1', '2', '3', '4', '5']

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## filter

In [ ]:
list(filter(lambda x : x % 2,a))

[1, 3, 5]

In [ ]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## Reduce

In [ ]:
from functools import reduce
a = [1,2,3,4,5]
reduce(lambda x,y : x * y, [1, 2, 3, 4, 5])

120

In [ ]:
help(reduce)

## Comprehension

In [ ]:
[i for i in range(15)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
[i for i in range(15) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [ ]:
[i for i in range(15) if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [ ]:
[i if i % 2 == 0 else 'odd' for i in range(15)]

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14]

In [ ]:
{n:n**2 for n in range(10) if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

## Zip and unzip

In [ ]:
names = ["Siva",'Amar','Shubham','Ram']
age = [25,26,27,25]
salary = [45000,50000,45000,56000]

In [ ]:
new_zip = zip(names,age,salary)
# print(new_zip)

In [ ]:
# print(list(new_zip))
new_zip = set(new_zip)

In [ ]:
new_zip

{('Amar', 26, 50000),
 ('Ram', 25, 56000),
 ('Shubham', 27, 45000),
 ('Siva', 25, 45000)}

In [ ]:
a,b,c = zip(*new_zip)

# print("names",a)
# print("age",b)
# print("salary",c)

In [ ]:
print("names",a)
print("age",b)
print("salary",c)

names ('Shubham', 'Ram', 'Amar', 'Siva')
age (27, 25, 26, 25)
salary (45000, 56000, 50000, 45000)

## iterator

In [ ]:
names = ["Siva",'Amar','Shubham','Ram']
names

['Siva', 'Amar', 'Shubham', 'Ram']

In [ ]:
new_list = names.__iter__()
print(new_list)

<list_iterator object at 0x7fce99e6f190>

In [ ]:
help(new_list)

In [ ]:
for obj in new_list:
  print(obj)

Siva
Amar
Shubham
Ram

In [ ]:
new_list = iter(names)
print(next(new_list))
print(next(new_list))
print(next(new_list))

Siva
Amar
Shubham

In [ ]:
print(next(new_list))

Ram

In [ ]:
for obj in names:
  print(obj)

Siva
Amar
Shubham
Ram

In [ ]:
names = [i for i in range(1000000)]
new_list = iter(names)

In [ ]:
import sys
print(f'size of variable names is',sys.getsizeof(names))
print(f'size of variable new_list is',sys.getsizeof(new_list))

size of variable names is 8697472
size of variable new_list is 64

In [ ]:
for i in range(50):
  print("names values",names[i])
  print(next(new_list))

names values 0
0
names values 1
1
names values 2
2
names values 3
3
names values 4
4
names values 5
5
names values 6
6
names values 7
7
names values 8
8
names values 9
9
names values 10
10
names values 11
11
names values 12
12
names values 13
13
names values 14
14
names values 15
15
names values 16
16
names values 17
17
names values 18
18
names values 19
19
names values 20
20
names values 21
21
names values 22
22
names values 23
23
names values 24
24
names values 25
25
names values 26
26
names values 27
27
names values 28
28
names values 29
29
names values 30
30
names values 31
31
names values 32
32
names values 33
33
names values 34
34
names values 35
35
names values 36
36
names values 37
37
names values 38
38
names values 39
39
names values 40
40
names values 41
41
names values 42
42
names values 43
43
names values 44
44
names values 45
45
names values 46
46
names values 47
47
names values 48
48
names values 49
49

## Generators

In [ ]:
def squence(N):
  x = []
  for i in range(N):
    x.append(i)
  return x

In [ ]:
alist = squence(100)

In [ ]:
alist

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
def squence(N):  
  for i in range(N):
    yield i

In [ ]:
blist = squence(100)
print(blist)

<generator object squence at 0x7fce99eb45d0>

In [ ]:
print(f'size of variable new_list is',sys.getsizeof(alist))

size of variable new_list is 920

In [ ]:
for i in blist:
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
next(blist)

StopIteration: ignored

In [ ]:
help(squence)

## Main method

In [ ]:
def fact(N):
  if N < 0:
    print("Input the positive number")
  elif N == 0:
    print(f'Factorial of {N}! is {1}')
  else:
    fact = 1
    for i in range(1,N+1):
      fact *= i
    print(f'Factorial of {N}! is {fact}')

print(__name__)

__main__

#file handling

In [ ]:
f = open("/content/Model Deployment.txt")
f.read(100)
f.close()

In [ ]:
with open("/content/Model Deployment.txt") as file:
  xy  = file.read()

In [ ]:
print(xy)

In [ ]:
f = open("/content/Model Deployment.txt")
f.readline()

In [ ]:
print(f.readline())
print(f.readline())
print(f.readline())

joblib.dump(modelname,filename)



# When we have to deploy the data go to your views.py import it

In [ ]:
f = open("/content/Model Deployment.txt",mode = 'r')
f.readlines()
f.close()

In [ ]:
wr = open("/content/abc.txt",mode='a')
wr.write('This one is my new file which i had created.')
wr.close()

In [ ]:
wr = open("/content/abc1.txt",mode='x')
wr.write('This one is my new file which i had created.')
wr.close()

In [ ]:
x = open("/content/abc1.txt",mode='a')
x.write('\n Rishabh Singh')
x.close()

In [ ]:
x = open("/content/abc2.txt",mode='w')
x.write('\nAayush')
x.close()

In [ ]:
x = open("/content/abc3.txt",mode='w+')
x.write('\n Rishabh Singh')
x.close()

In [ ]:
x = open("/content/abc3.txt",mode='r+')
x.read()

'\n Rishabh Singh'

In [ ]:
import os
os.remove("/content/abc3.txt")

## Exception Handling

In [ ]:
x = eval(input())
y = eval(input())
print(x/y)

4
2
2.0

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except :
  pass

4
3
1.3333333333333333

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except :
  print('please input second value that is not equal to zero')

3
1
3.0

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except (ZeroDivisionError):
  print('please input second value that is not equal to zero')
except (NameError):
  print("there is some issue with your inputs")

a
there is some issue with your inputs

In [ ]:
1try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except (ZeroDivisionError):
  print('please input second value that is not equal to zero')
finally:
  print(f'x as {x} y as {y}')  
  print("Your input is not correct so we changed it on default")

22
10
2.2
x as 22 y as 10
Your input is not correct so we changed it on default

user define exception

In [ ]:
try:
  x = eval(input())
  y = eval(input())
  print(x/y)
except (ZeroDivisionError):
  print('please input second value that is not equal to zero')
except (NameError):
  raise Exception("you are not putting correct type of data")

a

NameError: ignored

**Question@1**  


Define a function which can find lucky number from a list 
Lucky number means in a list occurance of that number should be equal to the number and if there are more then one number having same property then choose the max number.




 



**Example**

Example 1:-


*  



List1 = [1,2,2,3,3,4,4,4]


Output:- 2.


Example 2:- 



List2 = [ 2,2,3,3,1,3,2,4,4,4]


Output :- 3

**Explanation: of Example 1**

- number 1 and 2 are having same property but 2 is greater then results is 2

**Function Description**


Complete the lucky function provided in the editor .This  function takes the following 1 parameter and return single digit number.



•	List_a: Represents a list.



**Input format** 


**Note**This is the input format that you must use to provied coustom input. 


•	The first line has an list, list_a denoting the number of test cases.






**Output format**


•	Print lucky each corresponding to the answer to each query.

In [ ]:
def lucky(list_a):
  # write your code here 
  #1st method
  x = []
  for i in set(list_a):
    if i == list_a.count(i):
      x.append(i)

  #2nd method 
  x = [i for i in set(list_a) if i == list_a.count(i)]
  N = max(x)
  return N

if __name__ = '__main__':
  list_a = [int(ele) for ele in input("Enter the list items separate by space:-").split(",")]
  print(lucky(list_a))

**Question@2**  


Define a function which can find palindrome number from a real number, means number that remains the same when its digits are reversed. In other words, it has reflectional symmetry across a vertical axis.
**1st** revers the number check num is palindrome or not. If **yes** then print that number and how many time you have reversed it. If **not** then add that number to previous one and reverse it again and check for palindrome. Do it until the num will be palindrome. 





**Example**

Example 1:-


num = 123
      

*   


     123 + 321 = 444 

     444 is palindrome number
    
    

Output:- 444 ,1


Example 2:- 


num = 174

*  


      174 + 471 = 645
      645 + 546 = 1191
      1191 + 1911 = 3102
      3102 + 2013 = 5115
      5115 is palindrome number


Output :- 5115, 4

**Explanation: of Example 1**

- number 1 and 2 are having same property but 2 is greater then results is 2

**Function Description**


Complete the palindrome function provided in the editor .This  function takes the following 1 parameter and return two number.



•   num: Represents a int.



**Input format** 


**Note**This is the input format that you must use to provied coustom input. 


•   The first line has an int, num denoting the number of test cases.






**Output format**


•   Print palindrome number and step's num each corresponding to the answer to each query.


**constraints**

step can be maximum 30 times if that after 30 steps that number will not convert to palindrome then retun **"Palindrome is not possible"**

In [ ]:
def palindrome(num):
  val = num
  count=0
  reversed_num = num
  while True:
    if val == int(str(val)[::-1]):
      return count ,val
    elif count ==30:
      return  "Palindrome is not possible"
    else:
      reversed_num += int(str(val)[::-1])
      val = reversed_num
      count += 1

if __name__ =='__main__':
  num = int(input("Enter a number :- "))
  print(palindrome(num))

Enter a number :- 22
(0, 22)

In [ ]:
list_a = [1,2,3,4,5,6,7,8,9]

[item**2 for item in list_a]

a = []
for ele in list_a:
  if ele >5:
    a.append(ele)
#print(a)


#grt>5
#print([i for i in list_a if i>5])

#even
print([ele**2 for ele in list_a if ele%2==0])


#odd 
#[ele for ele in list_a if ele%2!=0]


#ele *4
[ele*4 for ele in list_a]

[4, 16, 36, 64]

[4, 8, 12, 16, 20, 24, 28, 32, 36]

In [ ]:
list_a = [1,2,3,4,5,6,7,8,9]
[ele+1 for ele in list_a]

print([i for i in list_a if i%3!=0])

[1, 2, 4, 5, 7, 8]

In [ ]:
def min_max(X):
    for i in X:
        return min(X),max(X)

min_max([-9,87,8,95,62,0,4])

(-9, 95)

In [ ]:
def even_sqr(x):
  return[ele**2 for ele in x if ele%2==0]

even_sqr([1,2,3,4,5,6,7,8,9])

[4, 16, 36, 64]

In [ ]:
def add(*args):
  res = 0
  for ele in args:
    res = res+ele
  return res 

add(1,2,3,4,5,6,7)

28

## OOPS

In [ ]:
def cube(number):
  x = number**3
cube(number = 5)

In [ ]:
class Person:
  pass

In [ ]:
class Person:
  
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.salary}')

  def increment(self,percentage):
    self.salary = self.salary + self.salary * percentage/100

In [ ]:
x1 = Person(name = "Siva", age = 25,salary=45000,gender='Male')
x1.details()

Name of person is Siva and salary of the person is 45000

In [ ]:
x1.increment(percentage=10)

In [ ]:
x1.salary  = 1000
x1.details()

Name of person is Siva and salary of the person is 1000

Enc

In [ ]:
class Person:
  
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.__salary = salary  #private varible or encapsulated
    self.gender = gender

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.__salary}')

  def increment(self,percentage):
    self.__salary = self.__salary + self.__salary * percentage/100

In [ ]:
x1 = Person(name = "Rishu", age = 25,salary=45000,gender='Male')
x1.details()
x1.__salary  = 1000
x1.details()

Name of person is Rishu and salary of the person is 45000
Name of person is Rishu and salary of the person is 45000

## Inheritance

In [ ]:
class Person:  
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary  #private varible or encapsulated
    self.gender = gender

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.salary}')

  def increment(self,percentage):
    self.salary = self.salary + self.salary * percentage/100

In [ ]:
class Employee(Person):
  def __init__(self,name,age,salary,gender,empid,Designation):
    super().__init__(name,age,salary,gender)
    self.empid = empid
    self.Designation = Designation

  def det(self):
    print(f'emp :- {self.empid}\nage :- {self.age}')

  def details(self):
    print(f'''Name of person is {self.name} and salary of the person is {self.salary}
          \nEmployeeid is {self.empid}''')

In [ ]:
x1 = Employee(name = 'Rishu',age=25,salary = 45000 , gender='M',empid=1,Designation='Trainer')

x1.det()

emp :- 1
age :- 25

In [ ]:
x1.details()

Name of person is Rishu and salary of the person is 45000

Employeeid is 1

##Polymorphism

In [ ]:
class A(Person):
  def __init__(self,name,age,salary,gender,game):
    super().__init__(name,age,salary,gender)
    self.game = game

  def details(self):
    print(f'Game play :- {self.game}\nAge :- {self.age} \n Salary {self.salary}')

In [ ]:
x2 = A('Rishu',25,45000,'M','MineCraft')

x2.details()
x2.increment(15)
x2.details()

Game play :- MineCraft
Age :- 25
 Salary 45000
Game play :- MineCraft
Age :- 25
 Salary 51750.0

In [ ]:
x1.details()
x1.increment(25)
x1.details()

Name of person is Rishu and salary of the person is 45000

Employeeid is 1
Name of person is Rishu and salary of the person is 56250.0

Employeeid is 1

In [ ]:
class Employee:  
  #class variable 
  Increments = 12
  Emp_id = 0
  #instance variable 
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary  #private varible or encapsulated
    self.gender = gender
    Employee.Emp_id += 1 

  #instance methods
  def details(self):
    print(f'Name of person is {self.name} and salary of the person is {self.salary}')

  def increment(self,percentage):
    self.salary = self.salary + self.salary * percentage/100

  def year_increment(self):
    self.salary = self.salary + self.salary * Employee.Increments/100

  @classmethod
  def update_increment(cls,inc_value):
    cls.Increments = cls.Increments + inc_value 

  @staticmethod
  def add(num1,num2):
    print(num1+num2)

In [ ]:
help(Employee)

Help on class Employee in module __main__:

class Employee(builtins.object)
 |  Employee(name, age, salary, gender)
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, salary, gender)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  details(self)
 |      #instance methods
 |
 |  increment(self, percentage)
 |
 |  year_increment(self)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  update_increment(inc_value) from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  add(num1, num2)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  Emp_id = 0
 |
 |  Increments = 12

In [ ]:
p1 = Employee(name = 'Siva',age=25,salary = 45000 , gender='M')
p1.details()

Name of person is Siva and salary of the person is 45000

In [ ]:
p1.add(5,10)

15

In [ ]:
p1.details()
p1.year_increment()
p1.details()

Name of person is Siva and salary of the person is 45000
Name of person is Siva and salary of the person is 50400.0

In [ ]:
p1.update_increment(20)

In [ ]:
p1.details()
p1.year_increment()
p1.details()

Name of person is Siva and salary of the person is 50400.0
Name of person is Siva and salary of the person is 66528.0

In [ ]:
p2 = Employee(name = 'kiran', age=25,salary = 55000 , gender='M')
p2.details()

Name of person is kiran and salary of the person is 55000




# MySQL DB connection with Python

### Connecting to MySQL

In [ ]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 119 kB/s
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=c62f2fb7ae4c521cfb61347f5523f1e7d571e7b61f42eaebcec6d70db8ede6ee
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
#importing package

#pip install mysql.connector

import mysql.connector as sql

#connecting to mysql database
mydb =sql.connect(user='root',password='Siva@692',host='127.0.0.1',database='tut')
print(mydb)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("show databases")

In [ ]:
for x in mycursor:
    print(x)

('emp',)
('employee',)
('information_schema',)
('market',)
('mydata',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [ ]:
mycursor

### creating database schema

In [ ]:
#Create Database
mycursor.execute("CREATE DATABASE EMP")

### connectin to the database schema created

In [ ]:
# Connecting to Database created
mydb = sql.connect(
  host="localhost",
  user="cust1",
  passwd="cust1@123",
  database = 'EMP',
  auth_plugin='mysql_native_password'
)
print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227545D3B08>

In [ ]:
mycursor.execute("show tables")

for x in mycursor:
    print(x)

('finance',)
('hr',)

### creating table

In [ ]:
#creating table
mycursor.execute("CREATE TABLE HR \
                 (Emp_no int primary key, Emp_name varchar(20), \
                 Emp_desig varchar(20), Emp_contact int)")

### Inserting data into the table

In [ ]:
#Inseting values into Table
SQL_Insert = "INSERT INTO HR(Emp_no, Emp_name, Emp_desig, Emp_contact) \
                VALUES (%s,%s,%s,%s)"
                
SQL_Insert_values = [ ('1','abc','hr','123456'),
                      ('2','abc1','hr','12345678'),
                      ('3', 'abc2','hr','1234567')
                    ]
                
mycursor.executemany(SQL_Insert, SQL_Insert_values)

mydb.commit() #commit() is used to save changes to database

In [ ]:
print(mycursor.rowcount,"rows were inserted")

3 rows were inserted

### Creating another table

In [ ]:
#Creating another table Finance
mycursor.execute("CREATE TABLE FINANCE \
                 (Tax_No int primary key AUTO_INCREMENT, \
                 Emp_no int unique,\
                 Salary float)")

### Inserting data

In [ ]:
#Inserting values into Finance Table
SQL_Insert_Finance = "INSERT INTO FINANCE(Emp_no,Salary) VALUES (%s,%s)" 

SQL_Insert_Values_Finance = [(1,10.5),
                             (2,11.5),
                             (3,12.5)
                            ]

mycursor.executemany(SQL_Insert_Finance,SQL_Insert_Values_Finance)

mydb.commit() #commit() is used to save changes

print(mycursor.rowcount,"rows were updated")

3 rows were updated

### Selecting data

In [ ]:
# Condition -- where cluase or where conditions

SQL_where = "SELECT * from HR WHERE Emp_no > 1"

mycursor.execute(SQL_where)

SQL_where_results = mycursor.fetchall()

for x in SQL_where_results:
    print(x)

(2, 'abc1', 'hr', 12345678)
(3, 'abc2', 'hr', 1234567)

In [ ]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(2, 2, 11.5)
(3, 3, 12.5)

In [ ]:
# INNER Join Functions

SQL_join = "SELECT A.Emp_name, A.Emp_desig, B.Salary \
            from HR as A \
            Inner join FINANCE as B\
            on A.Emp_no = B.Tax_no"
            
mycursor.execute(SQL_join)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

('abc', 'hr', 10.5)
('abc1', 'hr', 11.5)
('abc2', 'hr', 12.5)

In [ ]:
# OUTER Join Functions

SQL_join_cross = "SELECT *  \
            from HR \
            CROSS join FINANCE "
            
mycursor.execute(SQL_join_cross)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

### Update the data

In [ ]:
# Where Condition

SQL_salary = "UPDATE FINANCE SET Salary=11 WHERE Salary = 11.5"
mycursor.execute(SQL_salary)

mydb.commit()

In [ ]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(2, 2, 11.0)
(3, 3, 12.5)

### Delete the data

In [ ]:
# rollback()-- it won't allow the execution of command

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"  #deleting salary data if >=11.5
mycursor.execute(SQL_salary)

mydb.rollback()
mydb.commit()

In [ ]:
# Testing of rollback

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

    
# We still get the record of salary>=11.5 as we have used rollback() earlier which stopped the deletion

(3, 3, 12.5)

In [ ]:
# Without rollback

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"
mycursor.execute(SQL_salary)
mydb.commit()

In [ ]:
SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

Exercises for practice

In [ ]:
class MotorCar(object):
    def __init__(self):
        """Base class constructor"""
    
class Car(MotorCar):
    def __init__(self):
        """Class constructor"""
        super(Car, self).__init__()
        
    def drive(self):
        """Drive the car"""
        
red_car = Car()
red_car.drive()

In [ ]:
def foo(k):
  k[0] = 2
q = [0]
foo(q)
print(q)

[2]

In [ ]:
def f1():
  x = 200
  print(x)
x=+2
f1()

200

In [ ]:
def f1():
  x = 20
  print(x)
x=12
f1()

20

In [ ]:
def san(x):
  print(x+1)
x = -4
x = 6
san(14)

15

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

In [ ]:
x = 'klmno'
for i in range(len(x)):
    print(x)

klmno
klmno
klmno
klmno
klmno

In [ ]:
x = 'klmno'
for i in range(len(x)):
    print(i)
    print(x)

In [ ]:
x = 'siva'
for i in range(len(x)):
  x[i].upper()
  print(x)

siva
siva
siva
siva

In [ ]:
x = ['bc', 'de']
for i in x:
  i.upper()
print(x)

['bc', 'de']

In [ ]:
x = ['ab', 'cd']
for i in x:
  x.append(i.upper())
print(x)

In [ ]:
print("abc Def".capitalize())

In [ ]:
name = ['raju','bear''deer','daman']
print(name[-1][-1])

n

In [ ]:
ex = "helle"
ex.find("l")

In [ ]:
max("how are you")

In [ ]:
True + True * (True - False and True + True) ** 5

In [ ]:
True + True * (True - False and True + False) ** 5

In [ ]:
(True - False and True + False) ** 5

1

In [ ]:
78 and 45 #only with integer we 'and' operation for lefside, 'or' operator for right side

45

In [ ]:
78 or 45

78

In [ ]:
True + True and True + False #addition '+' is more prior than 'and' operation

1

In [ ]:
#5 & 2 #bit operator converts into bits
8&3

In [ ]:
8|3

In [ ]:
#bin(5)
bin(8)

'0b1000'

In [ ]:
import math

In [ ]:
bool('false')
bool()

False

In [ ]:
eval(input("enter a string"))

In [ ]:
input("enter a string ")

enter a string siva

'siva'

In [ ]:
a,b=15, 8
if a+b:
  print("False")
else:
  print("True")

In [ ]:
a=(1,2,3,4)
a[1:-1]

In [ ]:
example=['h', 'e', 'l', 'l', 'o']
len(example)

5

In [ ]:
example = "snow world"   #String object doesn't support item assignment
example[3]='s'
example

TypeError: ignored

In [ ]:
print('{:,}'.format(1112223334))

1,112,223,334

In [ ]:
print('ab12'.isalnum())

In [ ]:
a=[(1,1),(2,4),(3,9)]
type(a)

list

basic calculator another type

In [ ]:
# Take input from the user 
select = int(input("Select operations form 1, 2, 3, 4 :"))
  
number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))
  
if select == 1:
    print(number_1, "+", number_2, "=",
                    add(number_1, number_2))
  
elif select == 2:
    print(number_1, "-", number_2, "=",
                    subtract(number_1, number_2))
  
elif select == 3:
    print(number_1, "*", number_2, "=",
                    multiply(number_1, number_2))
  
elif select == 4:
    print(number_1, "/", number_2, "=",
                    divide(number_1, number_2))
else:
    print("Invalid input")